{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/header.html' %}
</head>

<body>
    {% include 'layout/navbar.html' %}
    <h1>Selamat Datang Di Pelatihan Web Academy</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse aut dolor facilis distinctio earum ad.
        Cumque ex nemo praesentium porro quas assumenda? Quia accusamus culpa praesentium ut nostrum magnam corporis
        vitae molestias, cum voluptas aperiam quidem totam tempora dignissimos modi iure quaerat ullam unde sit!
        Sapiente neque natus exercitationem.</p>

    {% include 'layout/footer.html' %}
</body>
{% include 'layout/script.html' %}

</html>